/* perfil */
.perfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6%;
    .foto-perfil{
        display: flex;
        flex-direction: column;
        text-align: center;
        .perfil{
            width: 24rem;
            height: 24rem;
            margin-bottom: 20px;
            border-radius: 24px;
            padding: 10px;
        }
        .redes-sociales img{
            width: 30px;
            height: 30px;
            margin: 0px 15px;
        }
    }
}